@import "tailwindcss";


.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  scrollbar-width: none;
  -ms-overflow-style: none;
}


.font-body {
  font-family: var(--font-body);
}

/* Headings default */
.font-heading {
  font-family: var(--font-heading);
}



@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-flex;
  width: max-content;
  animation: marquee 20s linear infinite;
}

/* hover pe stop */
.marquee-wrapper:hover .animate-marquee {
  animation-play-state: paused;
}