@import "tailwindcss";


.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  scrollbar-width: none;
  -ms-overflow-style: none;
}


body {
  @apply font-body;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-heading;
}